.about-container {
  margin-top: 16px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.about-title {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 12px;
  color: #151574;
}

.about-text {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #555;
  margin-bottom: 20px;
  margin-left: 250px;
  margin-right: 250px;
}

.about-card {
  background: #ffffff;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.about-card h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #151574;
}

.about-card p,
.about-card ul {
  font-size: 17px;
  font-weight: bold;
  color: #444;
}

.about-card ul {
  padding-left: 16px;
}


