.contact {
  padding: 16px;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.contact h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #151574;
}

.contact-box {
  background: #ffffff;
  padding: 14px;
  margin-bottom: 16px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.contact-box h3 {
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: bold
}

.contact-box p {
  font-size: 21px;
  margin-bottom: 6px;
  margin-left: 350px;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.contact-box textarea {
  height: 80px;
  resize: none;
}

.contact-box button {
  width: 100%;
  padding: 10px;
  background-color: #151574;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}