.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #151574;
  padding: 15px 30px;
  color: white;
}

.logo {
  font-style: italic;
  font-size: 25px;
  font-weight: bolder;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 6px;
  padding: 5px 10px;
  width: 260px;
}

.search-icon {
  color: gray;
  pointer-events: none;
}

.search-box input {
  border: none;
  outline: none;
  margin-left: 8px;
  width: 100%;
  cursor: text;
}

.signin {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  margin-left: 500px;
  margin-right: 20px;
}

.menu {
  display: flex;
  font-size: 17px;
  justify-content: right;
  gap: 40px;
  background-color: #0a0a30;
  padding: 10px 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 12px;
  }

  .nav-right {
    width: 100%;
    justify-content: space-between;
  }

  .search-box {
    width: 100%;
  }

  .menu {
    flex-direction: column;
    gap: 15px;
  }
}