.services {
  padding: 16px;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.services h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #151574;
}

.service-box {
  background: #ffffff;
  padding: 14px;
  margin-bottom: 14px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.service-box h3 {
  font-size: 21px;
  font-weight: bold;
}

.service-box p {
  font-size: 17px;
  color: #222121;
  margin-left: 50px;
}